/*
  Created by: Reed Turner - 1002059456
  Created on: 10/10/23
  Updated on: 1/23/24
  Project: CSS Assignment
*/

:root {
	/* Grid */
	--number-of-columns: 12;
	--grid-width: calc(100% / var(--number-of-columns));
	--col-1: calc(var(--grid-width) * 1);
	--col-2: calc(var(--grid-width) * 2);
	--col-3: calc(var(--grid-width) * 3);
	--col-4: calc(var(--grid-width) * 4);
	--col-5: calc(var(--grid-width) * 5);
	--col-6: calc(var(--grid-width) * 6);
	--col-7: calc(var(--grid-width) * 7);
	--col-8: calc(var(--grid-width) * 8);
	--col-9: calc(var(--grid-width) * 9);
	--col-10: calc(var(--grid-width) * 10);
	--col-11: calc(var(--grid-width) * 11);
	--col-12: calc(var(--grid-width) * 12);
}

* {
	box-sizing: border-box;
	position: relative;
}

.col-xs-1 {
	flex: 0 0 var(--col-1);
	max-width: var(--col-1);
}

.col-xs-2 {
	flex: 0 0 var(--col-2);
	max-width: var(--col-2);
}

.col-xs-3 {
	flex: 0 0 var(--col-3);
	max-width: var(--col-3);
}

.col-xs-4 {
	flex: 0 0 var(--col-4);
	max-width: var(--col-4);
}

.col-xs-5 {
	flex: 0 0 var(--col-5);
	max-width: var(--col-5);
}

.col-xs-6 {
	flex: 0 0 var(--col-6);
	max-width: var(--col-6);
}

.col-xs-7 {
	flex: 0 0 var(--col-7);
	max-width: var(--col-7);
}

.col-xs-8 {
	flex: 0 0 var(--col-8);
	max-width: var(--col-8);
}

.col-xs-9 {
	flex: 0 0 var(--col-9);
	max-width: var(--col-9);
}

.col-xs-10 {
	flex: 0 0 var(--col-10);
	max-width: var(--col-10);
}

.col-xs-11 {
	flex: 0 0 var(--col-11);
	max-width: var(--col-11);
}

.col-xs-12 {
	flex: 0 0 var(--col-12);
	max-width: var(--col-12);
}

/* *Styles for 'col-sm-...' grid */
@media screen and (min-width: 576px) {
	.container {
		max-width: 576px;
	}

	.col-sm-1 {
		flex: 0 0 var(--col-1);
		max-width: var(--col-1);
	}

	.col-sm-2 {
		flex: 0 0 var(--col-2);
		max-width: var(--col-2);
	}

	.col-sm-3 {
		flex: 0 0 var(--col-3);
		max-width: var(--col-3);
	}

	.col-sm-4 {
		flex: 0 0 var(--col-4);
		max-width: var(--col-4);
	}

	.col-sm-5 {
		flex: 0 0 var(--col-5);
		max-width: var(--col-5);
	}

	.col-sm-6 {
		flex: 0 0 var(--col-6);
		max-width: var(--col-6);
	}

	.col-sm-7 {
		flex: 0 0 var(--col-7);
		max-width: var(--col-7);
	}

	.col-sm-8 {
		flex: 0 0 var(--col-8);
		max-width: var(--col-8);
	}

	.col-sm-9 {
		flex: 0 0 var(--col-9);
		max-width: var(--col-9);
	}

	.col-sm-10 {
		flex: 0 0 var(--col-10);
		max-width: var(--col-10);
	}

	.col-sm-11 {
		flex: 0 0 var(--col-11);
		max-width: var(--col-11);
	}

	.col-sm-12 {
		flex: 0 0 var(--col-12);
		max-width: var(--col-12);
	}
}

/* *Styles for 'col-md-...' grid */
@media screen and (min-width: 768px) {
	.container {
		max-width: 768px;
	}

	.col-md-1 {
		flex: 0 0 var(--col-1);
		max-width: var(--col-1);
	}

	.col-md-2 {
		flex: 0 0 var(--col-2);
		max-width: var(--col-2);
	}

	.col-md-3 {
		flex: 0 0 var(--col-3);
		max-width: var(--col-3);
	}

	.col-md-4 {
		flex: 0 0 var(--col-4);
		max-width: var(--col-4);
	}

	.col-md-5 {
		flex: 0 0 var(--col-5);
		max-width: var(--col-5);
	}

	.col-md-6 {
		flex: 0 0 var(--col-6);
		max-width: var(--col-6);
	}

	.col-md-7 {
		flex: 0 0 var(--col-7);
		max-width: var(--col-7);
	}

	.col-md-8 {
		flex: 0 0 var(--col-8);
		max-width: var(--col-8);
	}

	.col-md-9 {
		flex: 0 0 var(--col-9);
		max-width: var(--col-9);
	}

	.col-md-10 {
		flex: 0 0 var(--col-10);
		max-width: var(--col-10);
	}

	.col-md-11 {
		flex: 0 0 var(--col-11);
		max-width: var(--col-11);
	}

	.col-md-12 {
		flex: 0 0 var(--col-12);
		max-width: var(--col-12);
	}
}

/* *Styles for 'col-lg-...' grid */
@media screen and (min-width: 992px) {
	.container {
		max-width: 992px;
	}

	.col-lg-1 {
		flex: 0 0 var(--col-1);
		max-width: var(--col-1);
	}

	.col-lg-2 {
		flex: 0 0 var(--col-2);
		max-width: var(--col-2);
	}

	.col-lg-3 {
		flex: 0 0 var(--col-3);
		max-width: var(--col-3);
	}

	.col-lg-4 {
		flex: 0 0 var(--col-4);
		max-width: var(--col-4);
	}

	.col-lg-5 {
		flex: 0 0 var(--col-5);
		max-width: var(--col-5);
	}

	.col-lg-6 {
		flex: 0 0 var(--col-6);
		max-width: var(--col-6);
	}

	.col-lg-7 {
		flex: 0 0 var(--col-7);
		max-width: var(--col-7);
	}

	.col-lg-8 {
		flex: 0 0 var(--col-8);
		max-width: var(--col-8);
	}

	.col-lg-9 {
		flex: 0 0 var(--col-9);
		max-width: var(--col-9);
	}

	.col-lg-10 {
		flex: 0 0 var(--col-10);
		max-width: var(--col-10);
	}

	.col-lg-11 {
		flex: 0 0 var(--col-11);
		max-width: var(--col-11);
	}

	.col-lg-12 {
		flex: 0 0 var(--col-12);
		max-width: var(--col-12);
	}
}

/* *Styles for 'col-xl-...' grid */
@media screen and (min-width: 1200px) {
	.container {
		max-width: 1200px;
	}

	.col-xl-1 {
		flex: 0 0 var(--col-1);
		max-width: var(--col-1);
	}

	.col-xl-2 {
		flex: 0 0 var(--col-2);
		max-width: var(--col-2);
	}

	.col-xl-3 {
		flex: 0 0 var(--col-3);
		max-width: var(--col-3);
	}

	.col-xl-4 {
		flex: 0 0 var(--col-4);
		max-width: var(--col-4);
	}

	.col-xl-5 {
		flex: 0 0 var(--col-5);
		max-width: var(--col-5);
	}

	.col-xl-6 {
		flex: 0 0 var(--col-6);
		max-width: var(--col-6);
	}

	.col-xl-7 {
		flex: 0 0 var(--col-7);
		max-width: var(--col-7);
	}

	.col-xl-8 {
		flex: 0 0 var(--col-8);
		max-width: var(--col-8);
	}

	.col-xl-9 {
		flex: 0 0 var(--col-9);
		max-width: var(--col-9);
	}

	.col-xl-10 {
		flex: 0 0 var(--col-10);
		max-width: var(--col-10);
	}

	.col-xl-11 {
		flex: 0 0 var(--col-11);
		max-width: var(--col-11);
	}

	.col-xl-12 {
		flex: 0 0 var(--col-12);
		max-width: var(--col-12);
	}
}
/* *End of Grid System */
